<% layout('layouts/boilerplate') -%>


<body>
    <div class="row">
        <!-- <div class="col-8 offset-2"> -->
        <div class="col-12 col-md-8 offset-md-2">
    <h2>Fill the Information</h2>


 <form method="post" action="/listing/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

<div>
    <label for="title" class="form-label">Title</label>
   <input type="text" class="form-control"  value='<%=listing.title%>' name="listing[title]" required>
   <div class="valid-feedback">Titile looks good</div>
</div><br>

<div> 
    <label for="decription" class="form-label">Description</label>
   <textarea type="text" class="form-control" name="listing[decription]"><%=listing.description%></textarea required>
    <div class="invalid-feedback">Please enter a short ddecription</div>
</div>
<br>

<div>
    <img src="<%=listing.image.url%>" class="editImg img-fluid" alt="image" height="150" width="200">
</div><br>
<div> 
    <label for="image" class="form-label">Upload New Image</label>
   <input type="file" class="form-control"  name="listing[image]" required>
 </div><br>

<div> 
    <label for="price" class="form-label">Price</label>
   <input   class="form-control" value='<%=listing.price%>' name="listing[price]" required> 
   <div class="invalid-feedback">Please enter a valid price</div>

</div><br>

<div>
    <label for="location" class="form-label">Location</label>
   <input type="text" class="form-control" value='<%=listing.location%>' name="listing[location]" required> 
   <div class="invalid-feedback">Location should be valid</div>
</div><br>

<div>
    <label for="country" class="form-label">Country Name</label>
   <input type="text" class="form-control" value='<%=listing.country%>' name="listing[country]" required>
   <div class="invalid-feedback">Country name should be valid</div>
 </div>  

<br><br>
<button class="btn btn-primary" style="background-color: #fe4248; width:5rem;">Edit</button>
 </form>

</div>
</div>
<br><br>

</body>
 

<!-- Jab tum form ko submit karogi, browser username naam ka field server ko bhejega.
Form data server pe kuch is tarah se bheja jayega: username=Ruchika. -->

<!-- name attribute: Server ko form data ke field ko identify karne mein madad karta hai.
Without name: Server ko form data ko process karna mushkil hota hai, kyunki field ka naam define nahi hota. -->


<!-- Jab form submit hota hai, toh server ko ek object milega jisme listing naam ka key hoga aur uske andar title key aur uski value hogi. Is tarah se server pe form data ko structured format mein bheja jata hai.
Example: Agar listing.title ki value "My Listing" hai, toh form submission ke waqt server ko "listing[title]=My Listing" milega. -->