<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TranquilStay</title>
</head>
<body>
    <h2>Fill the Information</h2>
 <form method="post" action="/listing/<%=listing._id%>?_method=PUT">
   <input type="text"  value='<%=listing.title%>' name="listing[title]"><br><br>
   <textarea type="text" name="listing[decription]">value='<%=listing.description%>'</textarea><br><br>
   <input type="text" value='<%=listing.image%>' name="listing[image]"><br><br>
   <input type="number" value='<%=listing.price%>' name="listing[price]"><br><br>
   <input type="text" value='<%=listing.location%>' name="listing[location]"><br><br>
   <input type="text" value='<%=listing.country%>' name="listing[country]">
<br><br>
<button>Edit</button>
 </form>

</body>
</html>


<!-- Jab tum form ko submit karogi, browser username naam ka field server ko bhejega.
Form data server pe kuch is tarah se bheja jayega: username=Ruchika. -->

<!-- name attribute: Server ko form data ke field ko identify karne mein madad karta hai.
Without name: Server ko form data ko process karna mushkil hota hai, kyunki field ka naam define nahi hota. -->


<!-- Jab form submit hota hai, toh server ko ek object milega jisme listing naam ka key hoga aur uske andar title key aur uski value hogi. Is tarah se server pe form data ko structured format mein bheja jata hai.
Example: Agar listing.title ki value "My Listing" hai, toh form submission ke waqt server ko "listing[title]=My Listing" milega. -->